@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  font-family: "Work Sans" sans-serif;
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 100%;
}
/* header/Hero Section Section Styles Starts from here */
header {
  height: 100vh;
  width: 100%;
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: right;
}

header h1 {
  position: absolute;
  top: 216px;
  right: 15%;
  width: 525px;
  height: 228px;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  font-family: "work Sans";
  font-style: normal;
  font-weight: 700;
}
header p {
  position: absolute;
  right: 15%;
  top: 468px;
  width: 494px;
  height: 78px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
}

/* My Button and Buttons are Here*/
/* btn-type1 I decided to named rather then prymari-btn */
.btn-type1 {
  position: absolute;
  top: 599px;
  right: 15%;
  width: 170px;
  height: 64px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  background: #f15b22;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
/* btn-type2 I decided to named rather then secondery-btn */
.btn-type2 {
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 160px;
  height: 64px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #f15b22;
}
.team-btns {
  width: 300px;
  height: 64px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  background: #f15b22;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

/* Hero Section Stle ends here */

/* Failors container style starts from here */
.container {
  margin: 0 auto;
  width: 1140px;
  max-width: 100%;
}

.failures-container {
  display: flex;
  margin: 0 auto;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.failures-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.failures-container-text h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  padding-right: 50px;
  padding: 50px 50px 10px 10px;
}
.failures-container-text p {
  width: 416px;
  height: 104px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding: 10px 50px 30px 10px;
}
.failures-container-text ul {
  padding-top: 30px;
  padding-left: 5px;
}
.failures-container-text li {
  padding: 3px;
  list-style-type: none;
  display: flex;
  align-items: center;
  /* justify-content: center;
  align-items: center; */
}
.failures-container-text li > img {
  width: 20px;
  height: 20px;
  padding: 4px;
}

/* Failors container style ends here */

/* My Plan winners container style starts from here */
.winners-container {
  display: flex;
  flex-direction: column;
}
.winners-content {
  display: flex;

  justify-content: space-between;
}
.winners-container .my-plan {
  display: flex;
  justify-content: center;
}
.winners-container h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  padding-bottom: 50px;
}
.winners-content h3 {
  text-align: center;
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #151414;
}
.winners-content h5 {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #737272;
  padding-bottom: 50px;
}
.winners-content .icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.winners-content img {
  width: 92.96px;
  height: 92.96px;
}
/* Motivation Container Styles starts  from here */
.motivation-container {
  background-image: linear-gradient(
      90deg,
      #f15b22 0%,
      rgba(241, 91, 34, 0) 100%
    ),
    url(../images/watch.png);
  width: 1140px;
  height: 300px;
  /* padding-bottom: 100px; */
  border-radius: 8px;
}
.motivation-container h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  padding: 50px 50px 20px 30px;
  color: #ffffff;
}
.motivation-content button {
  margin-left: 30px;
}
/* Motivation Section Ends Here */
/* team Part Stars from here */
.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1548705085-101177834f47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-size: cover;
  height: 60vh;
  padding-top: 50px;
  margin-top: 100px;
  border-radius: 8px;
}
.team-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  padding: 50px 50px 20px 30px;
  color: #f15b22;
}
.team-text p {
  width: 770px;
  height: 304px;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: #e0d6d6;
  padding: 10px 50px 30px 10px;
  text-align: center;
}
.container-team-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
}
.team-btns{
  opacity: 25%;
}
.team-btns:hover{
  opacity: 100%;
}

/* Team Part Ends Here */
/* Main Part of the body also end with Motivation Part */
/* Footer Section Starts from here */
footer {
  background-color: #151414;
  height: 350px;
  margin-top: 100px;
  padding-top: 100px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.footer-container .footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-left h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #f8f8f8;
}
.social-icons {
  display: flex;
  gap: 5px;
  width: 175px;
  height: 46px;
  padding-bottom: 50px;
}
.social-icons img {
  width: 47px;
  height: 46px;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-right h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  padding-bottom: 10px;

  color: #ffffff;
}
.footer-right input {
  width: 325px;
  height: 40px;
  background-color: #151414;
  border: 0.25px solid #fff;
  border-radius: 8px;
  color: #f3f3f3;
}
/* End of the Session */
